.container_part {
  background-color: rgb(58, 174, 184);
  align-items: center;
  justify-content: center;
  margin-left: auto;
}


.card_part {
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
