<div class="container container_part">
  <p></p>
  <p></p>

  <h2>Meus dados pessoais</h2>


  <div class="card card_part" style="width: 18rem;">
    <!-- <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card"> -->
    <div class="card-body" style="max-width: 18rem;">
      <h5 class="card-title">{{myData.username}}</h5>
      <p class="card-text">{{myData.email}}</p>
      <p class="card-text">{{myData.createdAt}}</p>

      <a  class="btn btn-primary" *ngIf="!exibition" (click)="handleAlterValueEditExibition()">Alterar dados</a>
    </div>
  </div>

  <a  class="btn btn-primary" *ngIf="exibition" (click)="handleAlterValueEditExibition()">Cancelar</a>

<form *ngIf="exibition" name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
  <div class="d-flex">
    <div class="form-group col-md-6">
      <label for="Nome">Nome</label>
      <input type="text" class="form-control" name="username" [(ngModel)]="myData.username" required
                  #username="ngModel" />
              <div class="alert alert-danger" role="alert" *ngIf="username.errors && f.submitted">
                  O username é obrigatório
              </div>
    </div>

    <div class="form-group col-md-6">
      <label for="Nome">E-mail</label>
      <input type="text" class="form-control" name="email" [(ngModel)]="myData.email" required
                  #email="ngModel" />
              <div class="alert alert-danger" role="alert" *ngIf="email.errors && f.submitted">
                  O email é obrigatório
              </div>
    </div>
  </div>

  <div class="d-flex">
    <div class="form-group col-md-6">
      <label for="Password">Senha</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="myData.password" required
                  #password="ngModel" />
              <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
                  O campo senha é obrigatório
              </div>
    </div>
    <div class="form-group col-md-6">
      <label for="Password">Confirmar senha</label>
      <input type="password" class="form-control" name="confirm_password" [(ngModel)]="myData.confirm_password" required
                  #confirm_password="ngModel" />
                  <div class="alert-danger" *ngIf="confirm_password.errors && f.submitted">
                    <div *ngIf="myData.password != myData.confirm_password">Senha e Confirmação de senha devem ser iguais! </div>
                  </div>
    </div>
  </div>


 <div class="form group d-flex justify-content-center">
          <button class="btn btn-primary btn-block col-6">
            Enviar alterações
          </button>
  </div>
</form>
</div>


